[ObjectBuilderFactory]
indicator=
yeet=
guildroleremove=
bethistory=
benchmark, bench=
rating=
poll=
bet=
guildrolelist=
stats=
catch=
guildroleadd=
results=
wolfram=
givebeans=
c++, g++, cplus, cpp=
work=
rpend=
java, jdoodle=
tradebeans=
guildroleallowed=
buildHelp=
shutdown=
boop=
tony, stark, dontfeelgood, dontfeelsogood=
role=
ping=
roll=
blur=
choose=
rpstart=
guildrolenotallowed=
addguildrole=
derp=
perish, thenperish=
teey=
guildrolelist=
stats=
dbstats=
beans=
eightball, 8ball=
vote=
map=
info, about=
e621=
showpoll=
rpg=
defaultdance=
tweet=
help=
fetch=
crouton=
invite=
dbflush=
shutdown=


