[ObjectBuilderFactory]
indicator=
yeet=
guildroleremove=
bethistory=
benchmark, bench=
rating=
roll=
blur=
choose=
rpstart=
guildrolenotallowed=
bet=
perish, thenperish=
teey=
dbstats=
rafflestart=
beans=
eightball, 8ball=
vote=
map=
info, about=
givebeans=
c++, g++, cplus, cpp=
work=
showpoll=
rpg=
defaultdance=
tweet=
help=
fetch=
crouton=
invite=



poll=
rafflespin=
bet=
guildrolelist=
stats=
catch=
guildroleadd=
results=
wolfram=
givebeans=
c++, g++, cplus, cpp=
work=
rpend=
java, jdoodle=
rafflejoin=
guildroleallowed=
buildHelp=
dbflush=
shutdown=
boop=
tony, stark, dontfeelgood, dontfeelsogood=
role=
ping=
addguildrole=
derp=
e621=